<div class="section-wrapper">
  <div class="about-section first">
    <div class="about-subsection">
      <div class="about-subsection-item">
        <h2>Who am I?</h2>
        <p>
          My name is Nicolas Lopierre Aguirre. I was born and raised in Colombia, and I moved to New York City to get
          my
          B.A.
          in Computer Science
          from New York University. I will be graduating in May 2019. I have a minor in Business Studies.
        </p>
        <p>
          I've always been drawn to entrepreneurship and I firmly believe in the potential of Design Thinking
          (Creative Confidence is a book I highly recommend). My software skills include full stack development
          (front-end
          and back-end)
          and Web design. I've also had experience in Customer Research and Business development.
        </p>
      </div>
    </div>
    <div class="about-subsection logo-container">
      <!-- Aqui va un logo o animacion -->
      <div class="logo-placeholder"></div>
    </div>
  </div>
  <div class="about-section second">
    <div class="about-subsection logo-container">
      <!-- Aqui va un logo o animacion -->
      <div class="logo-placeholder"></div>
    </div>
    <div class="about-subsection">
      <div class="about-subsection-item">
        <h2>What do I do?</h2>
        <ul class="skills-container">
          <li class="skill">
            <h3>Front End</h3>
            <ul>
              <li>HTML5</li>
              <li>SCSS</li>
              <li>Typescript (JS)</li>
              <li>Angular</li>
            </ul>
          </li>
          <li class="skill">
            <h3>Back End</h3>
            <ul>
              <li>NodeJS</li>
              <li>NoSQL</li>
              <li>SQL</li>
              <li>Versed in Java and C++</li>
            </ul>
          </li>
          <li class="skill">
            <h3>Business Skills</h3>
            <ul>
              <li>Customer Research</li>
              <li>Ideation and Prototyping</li>
              <li>Crowd Management</li>
              <li>Event Planning and Coordination</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="about-section third">
    <div class="about-subsection">
      <div class="about-subsection-item">
        <h2>Interests</h2>
        <p>In general, I like reading, working out to stay healthy and gaming every once in a while.</p>
        <h3>Recommended readings:</h3>
        <ul>
          <li>Sapiens: A Brief History of Humankind by Yuval Noah Harari</li>
          <li>Creative Confidence by Tom and David Kelley</li>
          <li>Conscious Capitalism by Jonh Mackey and Raj Sisodia</li>
          <li>Elon Musk: Tesla, SpaceX, and the Quest for a Fantastic Future by Ashlee Vance</li>
        </ul>
      </div>
    </div>
    <div class="about-subsection logo-container">
      <!-- Aqui va un logo o animacion -->
      <div class="logo-placeholder"></div>
    </div>
  </div>
  <div class="about-section fourth">
  <iframe src="https://open.spotify.com/embed/user/12133408919/playlist/1dRMXHZX0gVfyScur0joY9" class="playlist"
    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>
