<div class="section-wrapper">
  <div class="contact-section">
    <div class="contact-subsection">
      <h2>Connect with me</h2>
    </div>
    <div class="contact-subsection">
      <ul>
        <li>
          <span class="title"><b>Email: </b></span><span class="value"><a href="mailto:nlopierre@gmail.com">nlopierre "at
              "gmail.com</a></span>
        </li>
        <li>
          <span class="title"><b>Location: </b></span><span class="value">New York, NY</span>
        </li>
      </ul>
    </div>
    <div class="contact-subsection">
      <div class="contact-item">
        <h3>Social Media</h3>
      </div>
      <div class="contact-item" id="contact-socia-media-icons">
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/nicolas-lopierre-aguirre-449925a3/"><img class="social-media-icon" src="../../assets/img/linkedin-icon.svg"/></a>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/Nlopierre"><img class="social-media-icon" src="../../assets/img/github-icon.png"/></a>
        <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/user/12133408919?si=sQLJvyO5R0-6OCyFpRmYFw"><img class="social-media-icon" src="../../assets/img/spotify-icon.png"/></a>
      </div>
    </div>
  </div>
</div>
