<div class="home-container">
	<svg viewBox="0 0 1100 250" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<title>PowerThrough</title>
		<g stroke="none" fill="none" fill-rule="evenodd" fill-opacity="0">
			<text id="PowerThrough" stroke="#b9b9b9" fill="#b9b9b9" font-weight="normal" font-family="Josefin Sans, sans-serif" font-size="144">
				<tspan x="3" y="109"><!--
					--><tspan>P</tspan><!--
					--><tspan>o</tspan><!--
					--><tspan>w</tspan><!--
					--><tspan>e</tspan><!--
					--><tspan>r</tspan><!--
					--><tspan>_</tspan><!--
					--><tspan>T</tspan><!--
					--><tspan>h</tspan><!--
					--><tspan>r</tspan><!--
					--><tspan>o</tspan><!--
					--><tspan>u</tspan><!--
					--><tspan>g</tspan><!--
					--><tspan>h</tspan><!--
				--></tspan>
			</text>
		</g>
	</svg>
</div>